.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-inline: 20px;
  overflow-x: hidden;
  max-width: 1550px;
}

.slider .splide__track {
  padding: 20px 20px !important;
}
@media screen and (max-width: 600px) {
  .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
}
