.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  width: 100%;
  margin: 6rem 0rem;
  max-width: 1550px;
}
.price-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.price-shadow-left {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 40%;
  height: 200px;
  background: linear-gradient(90deg, #60c9b6 26.2%, #8372ec 100%);
  opacity: 1;
  filter: blur(400px);
}
.price-shadow-right {
  position: absolute;
  right: 0;
  top: 20%;
  width: 40%;
  height: 200px;
  background: linear-gradient(90deg, #2e62ff 26.2%, #4b24dc 100%);
  opacity: 0.8;
  filter: blur(400px);
}
.price-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.price-box h2 {
  color: white;
  font-size: 17px;
  font-weight: 300;
}
.price-box p sup {
  margin-right: 10px;
}
.price-box p {
  display: flex;
  font-size: 60px;
  text-transform: capitalize;
  background: linear-gradient(
    112.98deg,
    #fff4d1 8.47%,
    #f5d28f 23.3%,
    #675537 91.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (max-width: 848px) {
  .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    row-gap: 50px;
  }
}
@media screen and (max-width: 520px) {
  .price {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
