.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  margin-top: 5rem;
  padding-inline: 20px;
  position: relative;
  max-width: 1550px;
}
.team-shadow-bottom {
  position: absolute;
  width: 500px;
  height: 50%;
  top: 50%;
  left: 0;
  background: linear-gradient(126.8deg, #bfcfff 8.62%, #8465f8 89.24%);
  opacity: 1;
  filter: blur(400px);
  pointer-events: none;
}
.team-shadow-center {
  position: absolute;
  background: linear-gradient(126.8deg, #bfcfff 8.62%, #8465f8 89.24%);
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0.64;
  height: 50%;
  width: 50%;
  filter: blur(400px);
}
.team-grid {
  display: grid;
  grid-template-columns: auto minmax(calc(320px * 3), 100%);
  grid-template-rows: 900px;
  width: 100%;
  column-gap: 2rem;
  overflow-x: hidden;
}
.right-grid .splide__pagination {
  bottom: -1.5em !important;
}
.left-filter {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
.left-filter p {
  border-radius: 40px;
  font-size: 1.2rem;
  width: 188px;
  height: 44px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.left-filter .active-filter {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #2e62ff 26.2%, #4b24dc 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48);
}
.right-grid {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.slide-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.right-grid .splide .splide__pagination__page {
  margin: 0 5px !important;
}
.mobile-filter {
  display: none;
}
@media screen and (max-width: 1255px) {
  .team-grid {
    grid-template-columns: auto minmax(calc(320px * 2), 100%);
  }
  .slide-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-auto-rows: 1fr;
    place-items: center;
  }
  .team-grid {
    grid-template-rows: none;
  }
  .right-grid .splide__pagination {
    bottom: 0.5em !important;
  }
}
@media screen and (max-width: 906px) {
  .team-grid {
    grid-template-columns: auto minmax(calc(320px * 1), 100%);
  }
  .slide-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    place-items: center;
  }
}
@media screen and (max-width: 600px) {
  .team-grid {
    grid-template-columns: 100%;
  }
  .mobile-filter {
    display: block;
    color: white;
    align-self: flex-end;
    font-size: 2rem;
    padding-right: 3rem;
  }
  .filter-icon {
    color: white;
    font-size: 2rem;
  }
  .left-filter {
    position: absolute;
    z-index: 4;
    background-color: #11141d;
    width: 70%;
    left: -100vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    height: 100%;
  }
  .open-left-filter {
    left: 0;
    opacity: 1;
  }
}
